<h1>Hello {{ name }}!</h1>
------------------------------------
<h2>Counter: {{ counter }}</h2>
<div>
  <button (click)="increment()" style="margin: 10px">Increment</button>
  <button (click)="decrement()" style="margin: 10px">decrement</button>
  <button (click)="reset()" style="margin: 10px">reset</button>
</div>
------------------------------------
<h2>Counter: {{ counter1 }}</h2>
<div>
  <button (click)="increment2()" style="margin: 10px">Increment</button>
  <button (click)="decrement2()" style="margin: 10px">decrement</button>
  <button (click)="reset2()" style="margin: 10px">reset</button>
</div>
